body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6D28D9;
  }
  
  .wrapper {
    width: 50%;
    margin: 100px auto; 
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    border: black;
    border: solid;
  }
  
  header {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  @media (max-width: 600px) {
    .wrapper {
      width: 90%;
      height: auto;
      max-width: 400px;
      margin-top: 150px; 
      padding: 15px;
    }
    .select-box select,
    .button {
      width: 100%;
      margin: 12px 0;
    }
  
    .drop-list {
      flex-direction: column;
    }
  
    .icon {
      display: none;
    }
  }
  
  @media (min-width: 601px) {
    
    .wrapper {
      padding: 40px;
      margin-top: 150px;
  
    .drop-list {
      flex-direction: row;
    }
  
    .icon {
      margin-top: 20px;
    }
  }
}
  
  
  
